KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/systab/gdt.o \
$(ARCHDIR)/systab/idt.o \
$(ARCHDIR)/systab/tables_loader.o \
$(ARCHDIR)/systab/interrupt.o \
$(ARCHDIR)/systab/isr.o \
$(ARCHDIR)/systab/acpi.o \
$(ARCHDIR)/io/io_utils.o \
$(ARCHDIR)/io/pic.o \
$(ARCHDIR)/io/pit_timer.o \
$(ARCHDIR)/clock.o



